body {
    background-color: #eee;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.fill {
    height: 100vh;
    width: 100vw;
}

.btn-pos {
    position: fixed;
    top: 5vh;
    left: 80vw;
}

li {
    list-style-type: none;
}